{% load sekizai_tags %}

{% block add_css %}
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.4/dist/leaflet.css" integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA==" crossorigin=""/>
{% endblock %}

{% addtoblock "js" %}
<script type="text/javascript" src="https://unpkg.com/leaflet@1.3.4/dist/leaflet.js" integrity="sha512-nMMmRyTVoLYqjP9hrbed9S+FzjZHW5gY1TWCHA5ckwXZBadntCNs8kEqAWdrb9O7rxbCaA4lKTIWjDXZxflOcA==" crossorigin=""></script>
<script type="text/javascript" src="{{ MEDIA_URL }}pollster/wok/js/wok.pollster.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}pollster/wok/js/wok.pollster.charts.v2.js"></script>
<script type="text/javascript">
  wok.pollster.charts.init(function() {
        $(function() {
            wok.pollster.charts.createCharts('.survey-chart .chart');
        });
    });
</script>
{% endaddtoblock %}

{% if chart.is_template %}
{{ content }}
{% else %}
{% if chart.has_template %}
{{ content }}
{% endif %}
<div class="survey-chart">
    {% if chart.has_data %}
    <div id="pollster-chart-{{ chart.id }}" class="chart chart-{{ chart.survey.shortname }}-{{ chart.shortname }}"
        data-chart-url="{% url pollster_chart_data chart.survey.shortname chart.shortname %}"
        data-chart-type="{{ chart.type.shortname }}">
    </div>
    {% else %}
    <div class="chart chart-{{ chart.survey.shortname }}-{{ chart.shortname }} chart-no-data">No available data</div>
    {% endif %}
</div>
{% endif %}

