{% extends "base/twocol.html" %}
<!--{% load i18n %} -->
<head>
{% block add_css %}
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css"> <!---->
	<link type="text/css" rel="stylesheet" media="all" href="{{ MEDIA_URL }}assets/base.css?v={{assets_version}}" />
 	<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}top5/top5.css" >

{% endblock %}
	{% block add_js %}
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script> <!-- Grippenet  1.5.2 au max-->
	<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>

		<script type="text/javascript">
	    	var $jq = jQuery.noConflict();
	    </script>
		<script type="text/javascript" src="{{ MEDIA_URL }}top5/top5.js"></script>
	    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
	    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>  <!--pb si 1.5.2, incompatible  -->
	{% endblock %}
</head>

<body>
	{% block col1 %}
		<h1 align="center">Présentation de l’étude « Top 5 »</h1>
		<p align="justify">Bonjour et merci de participer à cette <b>étude sur la surmédicalisation en médecine générale.</b></p>
		<p align="justify">Cette étude vise à établir une liste des cinq examens médicaux ou traitements prescrits fréquemment en médecine générale en France
			et dont la balance bénéfice-risque est la plus discutable (on appelle ce type de  liste une «&nbsp;Top 5&nbsp;»).</p>
		<p align="justify">On parle de <b>surmédicalisation</b> lorsqu’un examen ou un médicament est proposé à un patient sans que l’on soit sûr des bénéfices
		 	ou lorsque cet examen ou ce médicament est potentiellement dangereux pour le patient sans que les bénéfices attendus ne compensent les risques. Ceci
		 	peut avoir pour conséquences un effet négatif sur la santé des patients. Par exemple, certaines maladies peuvent être diagnostiquées alors que le
		 	patient n’aurait jamais eu de signe au cours de sa vie, ce qui conduit à des traitements ou examens inutiles et expose le patient à des effets indésirables.
		 	La seconde conséquence est financière : ces soins inutiles représentent un coût important pour les patients et l’Assurance Maladie.
		</p>
		<p align="justify"> Des études similaires ont été réalisées dans de nombreux pays, mais en interrogeant uniquement des médecins. Il s’agit de la
			<b>première étude de ce type interrogeant la population générale</b>. Elle s’adresse à tous les Grippenautes majeurs. Cette étude est plus longue
			 que les précédentes auxquelles vous avez participé : elle vous prendra <b>environ 1 à 2 heures</b> et peut être réalisée en plusieurs fois.</p>
		<p align="justify">Cette étude s’appuiera sur des <b>résumés scientifiques</b>, <b>écrits pour 15 services médicaux</b> (médicaments ou examens médicaux tels
			qu’une prise de sang ou une radiographie) identifiés par des médecins généralistes en France comme relevant
			le plus de la surmédicalisation. Ces résumés présentent les recommandations actuelles, les bénéfices et risques des examens ou traitements concernés
			ainsi que leur coût pour l’Assurance Maladie.
		</p>
		<br/><br/>

		<h1 align="center">Comment participer à cette étude ?</h1>
		<ul >
			<li ><div align="justify">Vous trouverez ci-dessous un lien vers le questionnaire. Ce questionnaire est constitué d'une liste de 15 services médicaux.
				Nous vous invitons à cliquer sur chaque service médical pour obtenir plus d’information et <b>afficher son résumé scientifique</b>.</div>
			</li>
			<li><div align="justify">Vous devrez tout d'abord <b>sélectionner les 5 services médicaux</b> qui selon vous relèvent le plus de la surmédicalisation
				(dont vous pensez qu'il faudrait réduire les prescriptions en médecine générale). Pour ajouter un item à votre liste «&nbsp;Top&nbsp;5&nbsp;»,
				cliquez sur «&nbsp;J’ajoute à ma Top 5&nbsp;». Si vous souhaitez enlever un item de votre «&nbsp;Top&nbsp;5&nbsp;», cliquez sur «&nbsp;J’enlève
				de ma Top 5&nbsp;».</div>
			</li>
			<li><div align="justify">Lorsque que vous aurez sélectionné les cinq services médicaux qui constituent votre  «&nbsp;Top&nbsp;5&nbsp;», cliquez sur le
				bouton «&nbsp;Accéder à votre classement&nbsp;» en bas de page, afin de <b>classer ces 5 services médicaux</b> par ordre de priorité (le premier
				étant celui dont la prescription vous parait devoir être maitrisée de façon prioritaire).</div>
			</li>
			<li><div align="justify">Une fois votre «&nbsp;Top&nbsp;5&nbsp;» constituée, un court questionnaire vous sera proposé afin de connaître les raisons
			de votre choix.</div></li>
		</ul>
		<p align="justify">Vos choix restent enregistrés lorsque vous quittez cette page, vous pouvez donc effectuer votre sélection en plusieurs fois.
		Tant que votre sélection n'a pas été validée, vous pouvez accéder au questionnaire que vous avez commencé à remplir en cliquant de nouveau sur le
		 lien que vous avez reçu par email, ou en vous connectant à votre espace personnel sur <a href="https://www.grippenet.fr">www.grippenet.fr</a>.<br/>
		 Les services sont présentés dans un ordre aléatoire. A chaque nouvelle connexion, ils apparaîtront dans un ordre différent.</p>
		<p align="justify"><b>Nous vous déconseillons de répondre à cette étude à partir d'un smartphone, d'un iPhone ou
		d'une tablette. L'affichage n'est pas optimisé pour ces appareils et l'étape de classement des services médicaux
		sélectionnés ne pourra pas être réalisée.</b></p>
		<p align="justify">Pour toutes questions ou complément d’information, contacter: <a href="mailto:contact@grippenet.fr">contact@grippenet.fr</a>.</p><br/>

		<p align="center" >
			<a class="btn btn-success" style="align:center" href="{% url top5_selection_service %}"  role="button">Commencer le questionnaire</a>
		</p>
	{% endblock col1 %}

</body>