{% extends "base/twocol.html" %}

<!--{% load i18n %} -->
<head>
{% block add_css %}
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css"> <!---->
 	<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}top5/top5.css" >
 	<link type="text/css" rel="stylesheet" media="all" href="{{ MEDIA_URL }}assets/base.css?v={{assets_version}}" />

{% endblock %}
{% block add_js %}
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script> <!-- Grippenet  1.5.2 au max-->
	<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>

	<script type="text/javascript">
    	var $jq = jQuery.noConflict();
		function initiate(service_id, pertinency) {
			$id = "btn-r-"+service_id.toString();
	  		$btn = $jq(document.getElementById($id));
	  		var $panel = $($btn.data('panel'));
			if (pertinency == 1) {
				var $input_chbox = $($btn.data('input'));
				var $span = $($btn.data('span'));
				$span.text(" J\’enlève de ma Top 5");
				$input_chbox.attr("value", '1');
				$input_chbox.attr( "checked", true );
				$btn.toggleClass('btn-warning btn-danger');
				$span.toggleClass('glyphicon-star glyphicon-star-empty');
				$panel.toggleClass('panel-danger panel-default');
	        }else{
	        	$panel.toggleClass('panel-warning panel-default');
	        }
    	}

    </script>
	<script type="text/javascript" src="{{ MEDIA_URL }}top5/top5.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>  <!--pb si 1.5.2, incompatible  -->
{% endblock %}
</head>

<body>
{% block col1 %}


		<h2>Veuillez sélectionner les <b>5 services</b> qui selon vous relèvent le plus de la surmédicalisation.</h2>
		<p align="justify">Cliquez sur chaque service médical pour obtenir plus d’information et afficher son résumé.
		Pour <b>ajouter</b> un service médical à votre liste « Top 5 », cliquez sur <b>«&nbsp;J’ajoute à ma Top 5&nbsp;»</b> en bas de son résumé.
		Pour <b>retirer</b> un service de votre « Top 5 », cliquez en bas de son résumé sur <b>«&nbsp;J’enlève de ma Top 5&nbsp;»</b>.
		Lorsque vous aurez <b>sélectionné cinq services</b>, vous pourrez cliquer sur <b>«&nbsp;Accéder
		à votre classement&nbsp;»</b>. </p>

		<p align="justify">Les services médicaux sont affichés selon les couleurs suivantes :</p>
		<ul>
			<li ><div align="justify">En bleu sur fond gris quand le résumé n’a pas été ouvert ;</div></li>
			<li><div align="justify">En bleu sur fond jaune quand le résumé a été ouvert ;</div></li>
			<li><div align="justify"><b>En bleu sur fond rose</b> quand le résumé a été ajouté à votre « Top 5 ».</div></li>
		</ul>

		<p>Dans chaque résumé, vous trouverez des mots et numéros en bleu :</p>
		<ul>
			<li><div align="justify">Si vous passez votre souris sur un mot en bleu, sa définition apparaîtra ;</div></li>
			<li><div align="justify">Si vous cliquez sur un numéro bleu en exposant, le lien du document scientifique utilisé dans le résumé apparaîtra dans une fenêtre.
			 Vous pouvez accéder au lien en cliquant dessus, ou fermer la fenêtre en cliquant à un autre endroit de la page (en dehors de la fenêtre).</div></li>
		</ul>


<div class="panel panel-group" >
	<!-- mauvaise technique -->
	<div class="panel panel-body" id="accordion">
		{% for service in services %}
			{% if ranking %}
				<script>var nbRated = {{ranking_size}}</script>
				{% for service_rank in ranking %}
					{% if service_rank.service_id == service %}
						<script type="text/javascript">
							$jq(document).ready(function() {
								initiate({{service.id}}, {{service_rank.pertinency}});
							});
						</script>
					{% endif %}
				{% endfor %}
			{% else %}
				<script>var nbRated = 0 </script>
			{% endif %}
			<div id="resume-panel-{{service.id}}" class="panel panel-default" >
				<div id="resume-heading-{{service.id}}" class="panel-heading portlet-toggle">
					 <form id="form-toggle-{{ service.id }}" class="form-creation" method="post" action="{% url top5_creation_rank_service %}"  > {% csrf_token %}
					 </form>
						<!--<a class="btn-toggle" data-form="#form-toggle-{{ service.id }}" data-service="{{service.id}}" role="button" data-parent="#accordion" data-toggle="collapse" href="#resume-colapse-{{ service.id }}" aria-expanded="false" aria-controls="resume-colapse-{{ service.id }}">-->
						 <a class="btn-toggle" data-form="#form-toggle-{{ service.id }}" data-service="{{service.id}}" data-panel="#resume-panel-{{service.id}}" role="button" data-parent="#accordion" data-toggle="collapse" href="#resume-collapse-{{ service.id }}" >
							{{service.fullname}}
					   	</a>
				</div>
				<div id="resume-collapse-{{ service.id }}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="resume-heading-{{ service.id }}">
				    <h4 class="service-title">{{service.fullname}}</h4>
				    {{service.text_html|safe}}
			    	<div class="center">
			    	    <button id="btn-r-{{ service.id }}" data-service="{{ service.id }}" class="btn btn-danger pertinency-revue" data-form="#form-revue-pertinency-{{ service.id }}" data-input="#pertinent-{{ service.id }}" data-panel="#resume-panel-{{ service.id }}" data-span="#span-{{ service.id }}" data-collapse="#resume-collapse-{{ service.id }}">
							<span id="span-{{ service.id }}" name="span-{{ service.id }}" class="glyphicon glyphicon-star" > J’ajoute à ma Top 5 {{text_btn}}</span>
						</button>
					</div>
			    	<div align="right">
			    		<button class="btn btn-close btn-block btn-danger" data-service="{{ service.id }}" data-collapse="#resume-collapse-{{ service.id }}" >Fermer le résumé</button>
					</div>
					<div class="text-right">
			            <form id="form-revue-pertinency-{{ service.id }}" class="form-rank" method="post" action="{% url top5_chmgt_statut_service %}"  > {% csrf_token %}
							<input id ="pertinent-{{ service.id }}" name="pertinency" data-form="#form-revue-pertinency-{{ service.id }}" type="checkbox" value="0" hidden checked=false > <!-- initialiser value et checked si déja existante -->
							<input id="val_service_id" name="service_id" value="{{ service.id }}" hidden>
						</form>
					</div>
				</div>
			</div>
		{% endfor %}
	</div>
</div>
<div class="text-center">
    <h4><span class="label label-warning"><span class="glyphicon glyphicon-arrow-down">&nbsp;</span>Vous devez sélectionner 5 services médicaux avant d'accéder au classement<span class="glyphicon glyphicon-arrow-down">&nbsp;</span></span></h4>
    <form action="{% url top5_ranking %}" method="post">{% csrf_token %}
    	<button id="goto-rank" class="btn btn-block btn-success" type="submit" value="Submit"><a><span class="glyphicon glyphicon-list">&nbsp;</span>Accéder à votre classement</a></button>
    	<!--
    	<input class="btn btn-block btn-success" type="submit" value="<span class='glyphicon glyphicon-list'>&nbsp;</span>Accéder à votre classement">
        <a class="btn btn-block btn-success"  href="{% url top5_ranking %}" data-form="#form-rank" >
    	<span class="glyphicon glyphicon-list">&nbsp;</span>Accéder à votre classement</a>
    	-->
    </form>

</div>

{% endblock col1 %}
</body>