.Description {
    border-radius: 25px;
    background-color: #e6e6e6;
    padding:10px;
    float:left;
    width:98.5%;
    margin: 5px;
  }
.Description h4{
  color : #211E1E;
}

.Recommandation {
    margin: 5px;
    border-radius: 25px;
    background-color: #ffffcc;
    padding:10px;
    float:left;
    width:98.5%;
  }
.Recommandation h4{
  color : #FCE300;
}
.Epidemiologie {
    margin: 5px;
    border-radius: 25px;
    background-color: #c1e2fd;
    padding:10px;
    float:left;
    width:98.5%;
  }
.Epidemiologie h4{
  color : #4358DC;
}
.Efficacite {
    margin: 2.5px;
    border-radius: 25px;
    background-color: #e6ffe6;
    padding:10px;
    float:left;
    display: flex;
      flex-direction: column;
  /*  width:35%; */
  }
.Efficacite h4{
  color : #27C927;
}
.Tolerance {
    margin: 2.5px;
    border-radius: 25px;
    background-color: #ffe6cc;
    padding:10px;
    float:right;
    display: flex;
      flex-direction: column;
    /*width:63.5%; */
  }
.Tolerance h4{
  color : #FC9A2B;
}
.Cout {
    margin: 5px;
    border-radius: 25px;
    background-color: #ffe6ff;
    padding:10px;
    float:left;
    width:98.5%;
  }
.Cout h4{
  color : #E85AE8;
}
.effic_tolerance {
    display: flex;
    flex-wrap: wrap;
    margin: 5px;
    border-radius: 0px;
    padding:0px;
    float:left;
    width:98.5%;
  }

.center{
     text-align: center;
  }

/*.button-danger{
    background-color: red;
  } */

.service-title{
      text-decoration: underline;
      font-weight: bold;
  }

h4 {
  text-align: center;
}

.bottom-notes{
  text-align: right;
  text-decoration: italic;
  font-size: 80%;
}

* {
  box-sizing: border-box;
  font-family:  Verdana,Geneva,sans-serif;
}

.row{
   display: -webkit-box;
   display: -webkit-flex;
   display: -ms-flexbox;
   display: flex;
   margin-left: auto;
   margin-right: auto;
   width: 100% ;
}
/* Create two equal columns that floats next to each other */
.column {
  float: left;
  display: table-cell;
  width: 50%;
  padding: 5px;
}
.column-tram {
  float: left;
  display: table-cell;
  width: 33%;
  padding: 5px;
}

.column-left {
  border-right-style: solid;
}

/* Clear floats after the columns */
/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
}

.top-row {
  border-bottom-style: solid;
  border-bottom-length: 10px;
}

.Efficacite .column {
  border-color: #27C927;
}

.Efficacite .row {
  border-color: #27C927;
}

.Tolerance .column-left {
  border-color: #FC9A2B;
}
.Tolerance .row {
  border-color: #FC9A2B;
}

.portlet-toggle {
  font-size: 13px;
}

ul.main {
  font-size: 0.7em;
}

li{
  margin:  0;
}
.refnum {
	cursor:pointer;
}
.ref .refbody {
font-family:  Verdana,Geneva,sans-serif;;
font-size: .8em;
line-height: 1.1;
display: block;
min-width: 20em;
position: absolute;
border: 1px solid;
padding: 5px;
background-color: #fff;
word-wrap: break-word;
  z-index: 1;
overflow: auto;
}


.btn-close {
	height:33px;
	width:150px;
}


p + ul {
    margin-top: -10px;
}