<p>Bonjour,</p>

<p>Il y a deux semaines, vous avez renseigné avoir eu des symptômes caractéristiques d’un syndrome grippal. Nous espérons que vous avez retrouvé un meilleur état de santé.</p>
<p>Suite à cet épisode grippal, nous aimerions vous poser quelques questions. Le lien ci-dessous vous permettra d’accéder directement au questionnaire. Vous êtes bien évidemment libre de répondre !</p>
<p>
	<a href="{{url}}">{{url}}</a>
</p>

<h3>Pourquoi ce questionnaire ?</h3>
<p>Chaque année, des millions de français présentent un syndrome grippal pour lequel ils consultent ou pas. Durant un épisode grippal, les comportements varient d’un individu à l’autre : renforcement de l’hygiène personnelle, port du masque, réduction des contacts sociaux, etc.</p>
<p>A ce jour, on sait peu du comportement de la population vis-à-vis du port du masque. Cette enquête a donc pour but d’évaluer votre comportement vis-à-vis du port du masque durant le dernier épisode grippal. Connaitre ce qui se passe en population, pourrait permettre d’améliorer les mesures de prévention et de contrôle de la grippe durant les épidémies hivernales.</p>
<h3>Qui coordonne cette étude ?</h3>
<p>Cette étude est menée conjointement par Santé publique France et le réseau Sentinelles (Inserm – Sorbonne Université), comme cela est déjà le cas pour GrippeNet.fr.</p>
<p>Nous vous remercions pour l’intérêt que vous porterez à  cette enquête.</p>
<p>Si vous souhaitez en savoir plus, n’hésitez pas à nous écrire à l'adresse contact@grippenet.fr.</p>
<p>Bien cordialement,</p>
<p>L’équipe de GrippeNet.fr</p>

