<p>Bonjour,</p>

<p>Vous venez de demander un changement de votre adresse email pour votre compte GrippeNet.fr</p>

<p>Pour confirmer le changement d'adresse veuillez cliquer sur le lien ci dessous:</p>

<p style="text-align:center">
<a href="{{url}}" class="button">{{url}}</a>
</p>

<p>Si vous n'avez pas demandé de changement pour cette adresse, contactez nous rapidement à l'adresse ci dessous.</p>

<p>Bien cordialement,</p>

L'équipe GrippeNet.fr
<a href="mailto:contact@grippenet.fr">contact@grippenet.fr</a>